*{
    margin: 0;
    padding: 0;

}
.site-header{
    background-color: aquamarine;
}
.header-inner{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.logo{
    font-family: Helvetica / Arial;
    text-decoration: none;
    
}
