*{
    margin: 0;
    padding: 0;

}
.site-header{
    background-color: aquamarine;
}
.header-inner{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.header-inner::before{
    margin: 3px;
}
.logo{
    font-family:serif;
    text-decoration: none;
    font-size: 1.5rem;

}
#span{
    color: brown;
}
